
@media (max-width: 900px) {
    html { font-size: 14px; }
}
@media (max-width: 400px) {
    html { font-size: 12px; }
}

.navbar {
    background-color: darkseagreen;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .nav-item .nav-link {
    color:teal;
    font-weight: 700;
}

.dropdown-item {
    color:teal;
}

.navbar-light .navbar-brand {
    color:teal;
    font-weight: 900;
}

.navbar-logo {
    width:2.5rem;
}

.btn-dark {
    background-color: teal;
}

.jumbotron {
    margin-bottom: 0;
    background-color: white;
}

.jumbotron .display-1 {
    font-size: 2.7rem;
}

.jumbotron .display-2 {
    font-size: 1.7rem;
    margin-bottom:2.5rem;
    display:block;
}

.jumbotron img {
    width:100%;
}

main {
    background: linear-gradient(darkseagreen, teal);
}

.col-sm {
    background-color:white;
    margin:2rem 1rem;
    padding:1rem;
}

.col-sm .display-3 {
    font-size:1.5rem;
}

.col-sm img {
    width:90%;
    display: block;
    margin:0.3rem auto;
    border: 0.2rem outset darkseagreen;
    padding:0.3rem;
}

.btn-primary {
    background-color: darkseagreen;
    border:1px solid teal;
    margin-top:0.3rem;
}

.btn-primary:hover {
    background-color: teal;
}